<%- include('../partials/header.ejs') %>
<div class="container">
    <h1>Cohorts</h1>
    <div class="card mb-4">
        <% if(cohort.imageUrl) { %> 
            <img class="smal-image" src="<%= cohort.imageUrl %>">
        <% } %> 
        
        <div class="card body">
            <h5 class="card-title"><%= cohort.title %></h5>
            
            <p class="card-text">
                <div><%= cohort.content %></div>
                <div><em>Seen <%= cohort.viewCount %> time(s)</em>.</div>
                <div><em>Posted at <%= new Date(cohort.createdAt).toLocaleString() %> </em></div>
            </p>

            <div class="d-flex">
                <a href="/cohorts/<%= cohort.id %>/edit" class="btn btn-outline-success mr-2">
                    Edit
                </a>
            </div>
            <form method="POST" action="/cohorts/<%= cohort.id %>" >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" class="btn btn-outline-danger" value="Delete" />
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>